.productCard{
  border:1px solid rgb(206, 202, 202);
    padding-bottom: 14px;
    width:300px;
    display:flex;
    flex-direction: column;
    background-color: white;
}
.productCard:hover{
  border:1px solid rgb(219, 217, 217);
  box-shadow:0px 5px 10px rgb(219, 217, 217);
}
.imgBg{
    width:100%;
    background-color: rgb(232, 228, 228);
    display:flex;
    align-items: center;
    justify-content: center;
}
.productDesc{
    display:flex;
    flex-direction: column;
    width:100%;
    gap:5px;
    padding:0 10px;
    margin-bottom:8px;
    padding-top:10px;
}
.title{
    font-size: 18px;
    font-weight:600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.desc{
    font-size:14px;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
    overflow: hidden;
    white-space:normal;
    text-overflow: ellipsis;
}
.priceRating{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.price{
    font-size: 24px;
}
.btnDiv{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 10px;
  gap:10px;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color:black;
    background-color: white;
    outline: none;
    border:1px solid black;
    padding:10px 5px;
    border-radius: 5px;
}
.productList {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 16px;
    padding:16px;
    justify-content: center;
  }
  
  @media (min-width: 600px) {
    .productList {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (min-width: 900px) {
    .productList {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (min-width: 1200px) {
    .productList {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  